.contact{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: "Lato", sans-serif;
    padding-top: 15vw;
}

.no-select {
    -webkit-user-select: none;  
    -moz-user-select: none;     
    -ms-user-select: none;      
    user-select: none;
    padding-right: 10px; 
}

.email {
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
}

.instagram {
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
}
