.thumbnail-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: flex-start;
}

// .container{
//     position: relative;
//     display: flex;
//     align-items: center;
//     justify-content: center;
// }

.thumbnail-work {
    position: relative;
    width: 100%;
    height: auto;
    max-width: 1150px;
}

.play-button  {
    position: absolute;
    transform: rotate(90deg);
    opacity: .8;
}

.work{
    margin-bottom: 40px;
}

.work-title {
    display: table;
    margin-right: auto;
    margin-left: auto;
    font-size: 200%;
    font-family: "Lato", sans-serif;
}

@media only screen and (max-width: 700px){
    .work-title{
        font-size: 150%;
    }
}

// .thumbnail-container{
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     width: auto;
//     padding-bottom: 1%; /* 2.35:1 */
//     padding: 0px 10%;
// }


// .thumbnail-work {
//     // position: relative;
//     width: 100%;
//     height: auto;
//     max-width: 1150px;
// }

.work16 {
    position: relative;
    padding-bottom: 45%; /* 16:9 */
    height: 0;
    width: 80%;
    margin: 0 auto;
}

.work16 iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.work235 {
    position: relative;
    padding-bottom: 35%; /* 2.35:1 */
    height: 0;
    width: 80%;
    margin: 0 auto;
}

.work235 iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}



// .play-button  {
//     position: absolute;
// }

// .text-test{
//     font-size: 100%;
//     font-family: Lato;
//     // visibility: hidden;
//     // display: none;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     vertical-align: middle;
//     color: black;
//     position: absolute;
//     // font-size: 10px;
//     font-weight: bold;
//     bottom: 12px;
//     top: 50%;
//     left: 50%;
//     width: 70%;
//     height: 70%;
//     transform: translate(-50%, -50%);
// }


.stills {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: flex-start;
}

@media only screen and (max-width: 700px){
    .still {
        padding: 1px 1px;
        // padding: 0;
        margin: 0px 10%;
    }
}

@media only screen and (min-width: 700px){
    .still {
        padding: 1px 1px;
    }
}

.still {
    // padding: 1px 1px;
    // max-height: 180px;
    max-width: 400px;
    // animation: fadeInAnimation ease 3s; 
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 
}

  
@keyframes fadeInAnimation { 
    0% { 
        opacity: 0; 
    } 
    100% { 
        opacity: 1; 
     } 
} 

