.films {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0px 0 40px 0;
}


@media only screen and (min-width: 870px){
  .films{
    margin: 36px 0px 20px 0px;
  }
}
