.blur-container {
    position:relative;       
    overflow:hidden;
}

.thumbnail {
    left:-100px;
    right:-100px;
    top:-100px;
    bottom:-100px;
    width: 100%;
    height: auto;
}

.hide {
    visibility: hidden;
}

.fade-in {
    animation: fadeInAnimation ease 2s; 
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 
}

.text-and-thumbnail {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text{
    opacity: 0;
    font-size: 100%;
    font-family: Lato;
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    color: white;
    position: absolute;
    font-weight: bold;
    bottom: 12px;
    top: 50%;
    left: 50%;
    width: 70%;
    height: 70%;
    transform: translate(-50%, -50%);
    transition: opacity 800ms;
}

.text-and-thumbnail:hover .text {
    opacity: 1;
}


@keyframes fadeInAnimation { 
    0% { 
        opacity: 0; 
    } 
    100% { 
        opacity: 1; 
    } 
} 

   
.text-and-thumbnail .thumbnail {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

@media only screen and (min-width: 870px){
    .image-scale-container{
        padding: 0px 1px 0px 1px;
        width: 40vw;
    }
    .text-and-thumbnail:hover .thumbnail{
        -webkit-filter: blur(2px);
        filter: blur(2px);
    }
}

   