.thumbnail {
    padding: 1px;
    // max-height: 250px;
    max-width: 600px;
}


img {
    max-width: 100%;
    // min-width: 700px;
    height: auto;
    animation: fadeInAnimation ease 2.5s; 
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 
}


@keyframes fadeInAnimation { 
 0% { 
     opacity: 0; 
 } 
 100% { 
     opacity: 1; 
  } 
} 

.thumbnail {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}
 
.thumbnail:hover {
    -webkit-filter: brightness(70%);
    filter: brightness(70%);
}
