.enlarged-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
    animation: fadeInAnimation ease 4s; 
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 
}

.nav-button{
    font-size: 40px;
    -webkit-user-select: none;  
    -moz-user-select: none;     
    -ms-user-select: none;      
    user-select: none;
    cursor: pointer;
}

.enlarged-image {
    width: 81vw;
    height: auto;
}

.back{
    padding-bottom: 10px;
    font-family: "Lato", sans-serif;
    margin-left: 9.5vw;
    cursor: pointer;
}

.hide-gallery {
    visibility: hidden;
}

.fade-in-gallery {
    animation: fadeInAnimation ease 2s; 
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 
}